._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.history
.history/
.ionide
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vscode/*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
*.BACKUP.*
*.BASE.*
*.dll
*.dylib
*.exe
*.exe~
*.icloud
*.LOCAL.*
*.orig
*.out
*.REMOTE.*
*.so
*.test
*.vsix
assets/*.sketch
go.work
Icon
Network Trash Folder
Temporary Items

!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
